      <p><strong>Bronx, NY</strong>
      Alfe Corona performed and on many occasions led <i>J.Crew’s</i> QA Email testing team of 5 people. Responsible for testing marketing emails, training others, self develop skills in QA, JIRA, regression testing, Litmus test, and giving constant feedback to clients and teammates.</p>

      <p>During Corona’s tenure, <i>J.Crew</i> improved its email strategies using new methods, and increased its online sales revenue. Making most of <i>J.Crew’s</i> revenue from online and email marketing. In 2016, he was promoted and he received consistent positive reviews from the CIO, VP, Director, Managers and teammates.</p>

      <p>Corona has a high cognitive ability, is innately curious, willing to learn and has emergent leadership skills. He believes having a multifaceted professional experience opens the ability to come up with an answer or solution that is totally new. And there is a huge value to that. And in an age when innovation is increasingly a group endeavor, it also cares about humility, collaboration, adaptability and loving to learn and re-learn.</p>

      <p>He is the author of thesis “THE RELATIONSHIP BETWEEN ORGANIZATIONAL IDENTIFICATION AND EMPLOYEE JOB SATISFACTION”. Which has been greatly appreciated by his peers and supervisors at <i>J.Crew</i>, his classmates from <i>Nyack College</i> and the Church congregation <i>Alianza Oasis</i> where he provided the surveys as part of the thesis. This is the same Church he volunteered as an interpreter to translate Spanish to English and vice versa to 350 people.</p>

      <p>Additionally, Corona’s earlier experience had military roles as a Logistics Specialist with the <i>U.S. Navy Nuclear Submarines</i> in the Pacific Ocean. He received several <i>Navy</i> awards including the <i>Navy and Marine Corps</i> Achievement Medal. He also worked as a Bookkeeper with <i>BrickHouse Security and JVG Management LLC</i>, as a Banker with <i>Capital One Bank</i>, Sales with <i>TCI College and Payless ShoeSource</i>. And as a Photographer and Manager at <i>Foto Video Corona</i>. Lastly, he currently edits and records his own <i>YouTube</i> videos to inspire others.</p>

      <p>Languages he actively uses in web development include:</p>
     
      <ul>
      <li>JavaScript</li>
      <li>HTML/CSS</li>
      <li>Ruby</li>
      </ul>

      <p>In his free time, Corona enjoys working out lifting, running, and sauna. In addition to photography such as landscapes at places like the Brooklyn Bridge and others in NYC. Also, reading and learning about life.</p>