 		<p>Bronx, NY—Eric has studied and graduated with a Bachelors of Science in Finance from <em>Rochester Institute of Technology</em>. <em>Rochester Institute of Technology</em> is notorious for its unforgiveable winters and the lack of snow days.  </p>

    <p>In his free time, Eric enjoys e-sports such as League of Legends, Starcraft, and Pokémon VGC. Favorite games of all time include the Witcher series and the Dragon Age Series and has a burning passion for perfecting games by collecting all offline trophies.</p>