  <p>
    I am James a 20 year old from Chatham, New Jersey. I did things a little differently then the other kids my age from my town. I did an extra year of high school called a Post Graduate year at boarding school in CT. I did it so I could play lacrosse in college.
  </p>
  <p>
    However, If you could'nt tell, I am not in college and dropped out to start my own company. I love technology and have always have been intrested in coding, but never learned it.
  </p>
  <p>
    I love visiting my friends at college, going on adventures, and being an entrepreneur. This is why learning coding is great, you can build whatever comes to mind.
  </p>
  <p>
    I am excited for this class and this next chapter in my life.
  </p>