			<p><b>New York, NY</b>—Jarvis has a professional background in the mortgage industry and in the construction industry.  In the construction industry the conpany he worked for was <i>NewPOT Solutions</i> workings as a Project Manager in the Traffic Control Sector. Some of the projects he worker on were <em>The Ameren UE Power On Project</em>, <em>The New Mississippi River Bridge Project</em> and <em>The Blancette Bridge</em> drafting CAD drawings in St. Louis, MO.</p>

      <p>Jarvis always enjoyed technology at a young age when his grandfather bought him a computer and enjoyed playing Road Runner game using a floppy Disk.  Jarvis has taken technology classes in college and also have enrolled in many online classes to become a coder.</p>

      <p>He earned his bachelors in Business Management at <i>Universsity of Missouri-Columiba</i> also know as <i>MIZZOU</i>.  He enrolled as an student for the <em>New York Code + Design Academy</em>, he's working with aspiring web developers over a 12-week bookcamp where they ramp up on modern web technologies and explore new career options.</p>

      Languages he actively uses in web development include:
      <ul>
        <li>HTML/CSS</li>
        <li>JavaScript</li>
        <li>Ruby</li>
      </ul>

      <p>Jarvis favorite television show is The Walking Dead.  As a kid his favorite sport to play was baseball and his favorite player is Chipper Jones.</p>