    <p>
        <strong>New York, NY</strong>—I have been in New York for almost four years working as a cook. I am originally from Seattle. I am not good at sharing, just ask my girlfriend.
    </p>
    <p>
        I am learning programming because it seems a reasonable thing to learn these days. 
    </p>
    <div class="eagles">
        Go Eagles!
    </div>
    <div>
        Languages he actively uses with varrying degree of success:
    </div>
    <ul>     
        <li>English</li>
        <li>Kitchen Spanish</li>
        <li>Mandarin</li>
    </ul>

    <p>
        In his free time, Cam enjoys recreational sports such as volleyball, soccer, tennis, and golf. I also enjoy some of these things. Favorite publications is the Economist and PSG is by far the greatest soccer team the world has ever seen (well...).
    </p>