    <p>
        <strong>Jamaica, Ny</strong> -Kyle held the profession of a truck driver for two years before the idea of web development dawned to him. He previously attended <strong>Queensborough community college</strong> and <strong>DeVry University</strong>. He did not complete but has plans on returning after better career is established.
    </p>

    <p>
        Since a young child movies based on mad scientists and elusive hackers sparked his intrest.
    </p>

    <p>
        Through deep calculated decision making Kyle has come to the conclusion that a career in web development is whats best for his life financially and logically
    </p>

    <p>Languages he is currently pursuing to  learn:</p>

    <!-- Point 1 ref: http://stackoverflow.com/questions/710158/why-do-my-list-item-bullets-overlap-floating-elements -->

    <ul>
        <li>JavaScript</li>
        <li>HTML/CSS</li>
        <li>Ruby</li>
    </ul>

    <p>In his free type, Kyle enjoys sports such as football, basketball, and baseball. He has plans of goinng semi-pro in football once capible. When prepared to relax Kyle enjoys hours of video game play, and based upon the level of enjoyment he has coding it too will become a passtime. </p>