    <p id="idintro">Traveling is and will always be a focal point in my life.</p>

    <p class="WorkInProgress">I was born and raised in Phoenix, Arizona where the majority of my family resides. The main purpose of this learning endeavor is fueled by my desire to be challenged with a new career path and also permanently live aboard how and where I choose. Luckily, I've found a partner that shares the same view on exploring the world. While I'm working on this project we are getting married and moving to N.Y. so the amount of time I have to express my creatively is limited. But when the time for class comes I will be there 100%.</p>


    <p>I have worked for:
        <ul>
            <li>American Airlines</li>
            <li>Wells Fargo</li>
            <li>Hilton</li>
            <li>St. Luke's Hospital</li>
            <li>United States Postal Office</li>
        </ul>
    <p>
        <ul>
            <li><strong>Lives in: </strong>New York City</li>
            <li><strong>Birthday: </strong>March 27, 1989</li>
        </ul>
    </p>