		<li>Lives in: <strong>New York City</strong></li>
    <li>Birthday: <strong>10/08/1982</strong></li>
    </ul>
    <p>Selcuk is a traveller.</p>
    <p>He grew up in Istanbul and moved to Australia after he graduated from <span style="font-style:italic;text-decoration:underline;">RMIT University</span> in Melbourne. He holds a bachelor degree in Civil Engineering and a Masters degree in Geotechnical Engineering. He worked for <span style="font-style:italic;text-decoration:underline">Coffey Mining</span> for six years before he decided to learn coding.
    <p>Selcuk` s first personal computer was Commoder 64. He has developed a better understanding of operating systems and computers after he got familiar with MS-DOS in the 90`s.</p>
    <p>In his leisure time, he enjoys going to concerts, exploring different genres of music and watching soccer matches. He support his hometown team, Besiktas. His passion is travelling and learning about different cultures.</p>