    <ul>
        <li><strong>Lives in: </strong><em>Long Island NY</em></li>
        <li><strong>Birthday: </strong><em>January 28th</em></li>
      </ul>
      <p>Originally from Suffolk County Long Island</p>
      <p>Lives 5 Minutes from the beach, loves to surf and swim</p>
      <p>Also a big fan of sports and loves animals</p>

      <h4>Sports</h4>
    <ul>
      <li><strong><em>Football</em></strong></li>
      <li><strong><em>Basketball</em></strong></li>
      <li><Strong><em>Track and Field</em></Strong></li>
    </ul>
    <p>Although I played those main sports for the school, I still have a love for all sports. Running is something I try to do often not only as a way of exercising but it is an outlet and is a great source to clear the mind. For me when I get stressed I generally try to shoot hoops but I run first to loosen up before I focus on my game.</p>
    <p>Beach Volleyball is also one of my favorite sports. I play in a summer beach volleyball league at cedar beach called East End Volleyball (EEVB). Its 6v6 recreational league involving one's company/business and friends to form a team. There are also 4v4 and 2v2 leagues for the more advanced players.</p>