<h2>Drop Us a Line</h2>
<form method="POST">
  <label for="email">Your Email</label>
  <input name="email" placeholder="you@example.com" /><br />
  <label for="subject">Subject</label>
  <input name="subject" placeholder="Enter a title" /><br />
  <textarea name="comment"></textarea><br />
  <input type="submit" value="Send" />
</form>