	<h1><a href="/">WDI Jan 2017 NYC</a></h1>
  <article>
    <h2><%= @student[:first] %> <%= @student[:last] %></h2>

    <img class="profile" src="<%= @student[:image] %>">

    <%= erb "profiles/#{@student[:first].downcase}".to_sym %>
  </article>